<form class="box" action="/station/{{station._id}}/addreading" method="POST">
  <label>Enter Reading Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Code" name="code">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Temperature" name="temperature">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Wind Speed" name="windSpeed">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Wind Direction" name="windDirection">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Pressure" name="pressure">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Reading</button>
</form>