<form action="/dashboard/addstation" method="POST">
   <div class="field is-horizontal">
    <div class="field-body">
  <div class="field">
    <label class="label">Name</label>
    <input class="input" type="text" placeholder="Enter station name" name="title">
  </div>
  <div class="field">
    <label class="label">Latitude</label>
    <input class="input" type="text" placeholder="Enter station latitude" name="latitude">
  </div>
  <div class="field">
    <label class="label">Lognitude</label>
    <input class="input" type="text" placeholder="Enter station lognitude" name="lognitude">
  </div>
        </div>
  </div>
  <button class="button is-link">Add Station</button>
</form>