  <form action="/station/{{station._id}}/generatereading" method="POST">
      <div class="field is-grouped">
        <button class="button is-danger">Auto Gererate Reading</button>
      </div>
   </form>