<!-- based on https://leafletjs.com/examples.html -->

<div id="map"></div>

<script>var map = L.map('map', { center: [53.4494762, -7.5029786], zoom: 6 });
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19,
  attribution: '© OpenStreetMap' }).addTo(map);

  {{#each stations}}

    var marker = L.marker( [{{latitude}},
    {{longitude}}] ).addTo(map) .bindPopup(' The temperature is
    {{temperature}}C,
    {{weatherCodeDecrypted}}');

  {{/each}}

</script>