<div class="box" id="chart"></div>

<script>
  const data = {
    labels: [
      {{#each latestReading.trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Temperature", type: "line",
        values: [
          {{#each latestReading.tempTrend}}
            {{this}},
          {{/each}}
        ]
      },
      
       {
       
        name: "Wind Speed", type: "line",
        values: [
          {{#each latestReading.windSpeedTrend}}
            {{this}},
          {{/each}}
          
          ]
      }
      
    ]
  }

  const chart = new frappe.Chart("#chart", {
    title: "Weather Forecast",
    data: data,
    type: 'line',
    height: 250,
  })
</script>