{{> menu active="about"}}
<section class="section">
  <div class="content box">
    <div class="columns">

      <div class="column is-half">

        <p class="title has-text-centered">
          Weather App
        </p>
        <p class="has-text-centered">
          Monitor the latest station readings
        </p>

      </div>

      <div class="column">
        <figure class="image is-fullwidth">
          <img src="https://img.freepik.com/free-vector/hand-drawn-weather-effects_23-2149105677.jpg?w=1380&t=st=1681252106~exp=1681252706~hmac=5495dbdd9f289edb57b0db1107f9e6a78c13f495b6ec12bd9e6f10d89a640882">
        </figure>
      </div>

  </div>
  </div>
</section>